<div class="fullpage">
    <div class="row g-0" style="margin: 5%;">
        <div class="col-md-3">
            <div class="card mb-3" class="{{occ}}">
                <img src="../assets/slot.jpeg" height="100px" width="100px" class="im">
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-3"  style="margin: 2%;">
                <img src="../assets/slot.jpeg" height="100px" width="100px" class="im"> 
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-3"  style="margin: 2%;">
                <img src="../assets/slot.jpeg" height="100px" width="100px" class="im"> 
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-3"  style="margin: 2%;">
                <img src="../assets/slot.jpeg" height="100px" width="100px" class="im"> 
            </div>
        </div>
    </div>

</div>