<div class="fullpage">
    <div class="row g-0 cont">
        <div class="col-md-4">
            <div class="card mb-3 c">
                <div class="card-title" style="text-align: center;">
                    COEPIAN
                </div>
                <div class="row g-0">
                    <img src="../assets/coep.png" height="300px" width="50px">
                    <button type="button" routerLink="/coepian" routerLinkActive="active"  class="btn btn-warning">See Availability</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3 c">
                <div class="card-title" style="text-align: center;">
                    GUESTS
                </div>
                <div class="row g-0">
                    <img src="../assets/coep.png" height="300px" width="50px">
                    <button type="button" routerLink="/guest" routerLinkActive="active" class="btn btn-warning">See Availability</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3 c">
                <div class="card-title" style="text-align: center;">
                    ADMIN
                </div>
                <div class="row g-0">
                    <img src="../assets/coep.png" height="300px" width="50px">
                    <button type="button" routerLink="/admin" routerLinkActive="active" class="btn btn-warning">See Availability</button>
                </div>
            </div>
        </div>
    </div>
</div>